<div class="row">
  <div id="player_2" class="col-md-1 col-md-offset-4">2</div>
  <div id="player_3" class="col-md-1 col-md-offset-2">3</div>  
</div>

<div class="row">
  <div id="player_1" class="col-md-1 col-md-offset-1"> 1</div>
  <div id="poker-table" class="col-md-8">
    <span class="card diamonds-suit face-2"></span>
    <span class="card spades-suit face-4"></span>
    <span class="card hearts-suit face-7"></span>
    <span class="card clubs-suit face-10"></span>
    <span class="card diamonds-suit face-Q"></span>
    <span class="card diamonds-suit face-A"></span>
  </div>
  <div id="player_4" class="col-md-1 col-md-offset-1"> 4</div>
</div>

<div class="row">
  <div id="player_6" class="col-md-1 col-md-offset-4">6</div>
  <div id="player_5" class="col-md-1 col-md-offset-2">5</div>  
</div>